body {
    padding: 20px;
}
.App {
    text-align: center;
}

h1 {
    font-size: 90px;
}

button {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    margin: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;

    background-color: orange;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 200px;

    background-color: rgb(226, 226, 226);
    margin: 10px auto;

    color: black;
    border-radius: 15px;
}

input {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}
